[viewBag]
==
{#<div id="footer" style="background-color: #FFD20F; color: #222222; {#position:fixed; bottom: 0px; left: 0px; right: 0px; margin-bottom: 0px;">#}
<div id="footer" style="background-color: #2b3017; color: #cae26b; {#position:fixed; bottom: 0px; left: 0px; right: 0px; margin-bottom: 0px;#}">
    <div class="container">
        <hr />
        <div class="row">
            <div style="width: 75%; margin: 0 auto;">
            <p class="muted credit">
                &copy; {{ "now"|date("Y") }} 147tech 
            </p>
            {#<img src="{{ 'assets/images/banana-icon.png'|theme }}" class="img-rounded" style="width: 10%; margin:0 auto; float: right;"/>#}
            </div>
        </div>
            <br />
            <br />
        
    </div>
</div>